<h1>Listing statuses</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Post</th>
    <th>When</th>
    <th>Action</th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%=h status.author %></td>
    <td><%=h status.post %></td>
    <td><%= distance_of_time_in_words_to_now status.created_at %> ago</td>
    <td><%= link_to 'Show', status %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_status_path(status) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New status', new_status_path %>