<p>
<%= distance_of_time_in_words_to_now(@status.created_at) %> ago, <%=h @status.author %> was doing:
</p>

<p>
  <%=h @status.post %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %>&nbsp;|&nbsp;<%= link_to 'Back', statuses_path %>